@using System.Web.UI.WebControls

@model SalesManagement.Models.Transaction

@{
    ViewBag.Title = "PaymentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Place a New Order</h2>
@using (Html.BeginForm("PaymentForm", "Account", FormMethod.Post, new { @class = "" }))
{
@Html.AntiForgeryToken()

<div class="form-group">
    @Html.Label("First Name")
    @Html.TextBoxFor(m => m.CustFName, new { @id= "FirstName"})
</div>
<div class="form-group">
    @Html.Label("Last Name")
    @Html.TextBoxFor(m => m.CustLName, new { @id = "LastName" })
</div>
<div class="form-group">
    @Html.Label("Address")
    @Html.TextBoxFor(m => m.DeliveryAddress, new { @id = "Address", @style = "width: 195px" })
</div>
<div class="form-group">
    @Html.Label("Product")
    @Html.LabelFor(m => m.Product)
</div>
<div class="form-group">
    @Html.Label("Quantity")
    @Html.TextBoxFor( m => m.Quantity, new { @id = "Quantity", @style = "width: 50px" })
</div>
<div class="form-group">
    @Html.Label("Total Cost")
    @Html.LabelFor(m => m.TotalCost,
        new { @id = "Total",
            @text = "" + (@Model.TotalCost * @Model.Quantity) ,
            @value = "" + (@Model.TotalCost * @Model.Quantity)
        })
</div>
<div class="form-group">
    @Html.Label("Account")
    @Html.DropDownListFor(m => m.AccountType, new SelectList(new List<ListItem>
        {
            new ListItem { Text = "Credit", Value = "1" },
            new ListItem { Text = "Debit", Value = "2" },
            new ListItem { Text = "Gift-Card", Value = "3" },
            new ListItem { Text = "Store-Credit", Value = "4" },
            new ListItem { Text = "Money-Order", Value = "5" }
        }
       ))
</div>
<div class="form-group">
    @Html.Label("Account Number")
    @Html.TextBoxFor(m => m.AccountNumber, new { @id = "AccNumber", @style = "" })
</div>
<div class="form-check">
    @Html.Label("Confirm Order")
    @Html.CheckBox("Confirm Order")
</div>
<button type="submit" class="btn btn-primary">Submit</button>
}
